html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
} 
.container{
    width: 900px;
    margin:0 auto;
}
body{
    font-size: 14px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.header{
    margin-top: 72px;
    margin-bottom: 104px;
}
.header-list{
    list-style-type: none;
    padding: 0;
    margin:0;
    text-align: center;
}
.header-item{
    display: inline-block;
    text-transform: uppercase;
    line-height: 24px;
}
.header-item:not(:last-child){
    margin-right: 124px;   
}
.header-link{
    text-decoration: none;
    color: #626262;
}
.header-link:hover,
.header-link:focus{
    color: #03a9f4;
}
.main-list{
    list-style-type: none;
    font-size: 0;
    padding:0;
}
.main-item{
    display: inline-block;
    width: 420px;
    font-size: 14px;
}
.main-item:not(:nth-child(2n)){
    margin-right: 60px;
}
.main-item:not(:nth-last-child(-n + 2)){
    margin-bottom: 130px;
}
figcaption{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    margin-top: 16px;
}
h2{
    font-size: 30px;
    margin: 34px 0 0;
}
p{
    margin-top: 14px;
    line-height: 24px;
}
button{
    display: block;
    border: 1px solid rgb(98, 98, 98);
    min-width: 162px;
    padding: 20px 34px;
    margin: 60px auto 70px;
    background-color: #fff;   
    cursor: pointer; 
    font-size: 20px;
    line-height: 24px;
}
button:hover,
button:focus{
    color: #03a9f4;
}









