* {
    box-sizing: border-box;
    font-size: 14px;
}    
.header-main{
    text-align: center;
    margin-bottom: 100px;
}
.header-list{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.header-item{
    display: inline-block;
    margin-right: 123px;
    margin-top: 77px;
}
.header-item a{
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}
.header-item:last-child{
    margin-right: 0px;
}
.header-item :hover{
    color: #03a9f4;
}
.header-item :focus{
    font-size: 12px;
}
main{
    text-align: center;
}
.main-list{ 
    padding: 0px;
    margin: 0px;
    width: 970px;
    display: inline-block;
}
.main-item{
    display: inline-block;
    width: 420px;
    height: 480px;
    overflow: hidden;
    margin: 0px 60px 150px 0px;
}
.main-item:nth-child(even){
    margin-right: 0px;
    margin-left: -4px;
}
.main-item:nth-child(5){
    margin-bottom: 55px;
}

.main-item:nth-child(6){
    margin-bottom: 55px;
}
figcaption{
    text-align: left;
    margin: 30px 0px 25px;
    text-transform: uppercase;
    color: #b4ad9e;
}
.main-heading{
    text-align: left;
    font-size: 30px;
    color: #626262;
    margin-bottom: 25px;    
}
.main-text{
    text-align: left;
    color: #626262;
    line-height: 24px;
}
button{
    display: inline-block;
    width: 165px;
    height: 60px;
    font-size: 20px;
    color: #626262;
    background-color: #fff;
    margin-bottom: 50px;
    border-style: none;
    border: 1px solid black;
}
.btn :focus{
    font-size: 18px;
    position: relative;
    box-shadow: 0px 0px 21px 3px #B235CE;
}