body{
    box-sizing: border-box;
    font-size: 20px;
}
.clearfix::after{
    display: table;
    clear: both;
    content:'';
}
.wrapper{
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 3px 10px;
}
.list{
    margin: 20px;
    padding: 0px;
    list-style: none;
    counter-reset: a;
}
h2{
    padding: 0;
    margin: 0;
}

/* task 1 */
.task-1-item{
    float: left;
    padding: 10px;
    border: 5px solid transparent;
    outline: 2px solid rgb(241, 58, 45);
    box-shadow: 0 0 5px;
}
.task-1-item:not(:last-child){
    margin-right: 30px;
}
.task-1-item:hover{
    color: rgb(241, 58, 45);
    cursor: pointer;
    border: 5px solid rgb(250, 170, 112);
    outline: 2px solid transparent;
    box-shadow: 0 0 20px rgba(250, 170, 112, 0.7);
}
/* task2 */
.task-2-item{
    color: #0E1116;
    display: block;
    height: 50px;
}
.task-2-item:nth-child(3n+1){
    background: #88292F;
}
.task-2-item:nth-child(3n+2){
    background: #5DB7DE;
}
.task-2-item:nth-child(3n){
    background: #0D5D56;    
}
.task-2-item:not(:last-child){
    margin-bottom: 20px;
}
/* task3 */
.task-3-item{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}
a::before{
    content: "\2192";
    margin-right: 10px;
}
a:hover{
    color: rgba(250, 112, 112, 0.7);
}
/* task4 */
.task-4-item{
    counter-increment: a;
    vertical-align:middle;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 500px;
    min-height: 40px;
}
.task-4-item::before{
    content: counter(a, upper-roman);
    margin-right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color:rgb(250, 112, 112);
    text-align: center;
    vertical-align:middle;
    line-height: 40px;
}