html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
} 
.container{
    width: 1110px;
    padding: 0;
    margin: 0 auto;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden 
  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0)
  }

body{
    padding-top: 12px;
    background-color: #e9f0fd;
}
p{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* header */
.header{
    margin-bottom: 34px;
}
.logo-link{
    display: inline-block;

}
.header-nav{
    float: right;
    padding-top: 3px;
}
.nav-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-item{
    float: left;
}
.nav-item:not(:last-child){
    margin-right: 35px;
}
.nav-item a{
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.nav-item:hover a{
    color: #1abc9c;
}
/* tour */
.tours{
    margin-bottom: 96px;
}
.slider{
    position: relative;
}
.tour-slides-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.tour-slides-img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.slider-content{
    /* background-color: grey; */
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #fff;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slider-text{
    width: 800px;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-h{
    margin: 0;
    margin-bottom: 11px;
    font-size: 60px;
    line-height: 82px;
    font-weight: 900;
}
.slider-p{
    margin: 0;
    font-size: 24px;
    line-height: 54px;
    font-weight: 300;
}
.ctrl{
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    width: 104px;
    height: 104px;
    border-style: none;
    padding: 0;
    position: absolute;
    top: 226px;
}
.next{
    right: 0;
}
.prev::before{
    display: inline-block;
    background-image: url(../img/arrows/arrow-left.png);
    content: ""; 
    width: 22px;
    height: 38px;
    font-size: 100px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.next::before{
    display: inline-block;
    background-image: url(../img/arrows/arrow-right.png);
    content: ""; 
    width: 22px;
    height: 38px;
    font-size: 100px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
/* collectoin */
.coll-h{
    display: block;
    width: 420px;
    margin: 0 auto 78px; 
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #515151; 
}
.coll-h::after{
    display: block;
    background-color: rgb(26, 188, 156);
    width: 164px;
    height: 7px;
    content: '';
    margin: 28px auto 0;

}
.coll-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.coll-item{
    float: left;
    width: 255px;
}
.coll-item:not(:last-child){
    margin-right: 30px;
}
.name{
    width: 200px;
    float: left;
    background-color: #323232;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 7px 15px ;
}
.price{
    width: 55px;
    float: left;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    background-color: #8c8c8c;
    font-weight: 900;
    color: #fff;
    padding: 7px 12px;
}
.hover{
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0.549;
    width: 235px;
    height: 261px;
}
.icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.button-hover{
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px; 
    border: 1px solid #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}
.like{
    background-image: url(../img/hover-icons/like.png);  
}
.shuffle{
    background-image: url(../img/hover-icons/shuffle.png);  
}
.reminder{
    background-image: url(../img/hover-icons/reminder.png);  
}
.add-to-card{
    width: 166px;
    height: 48px;
    font-size: 14px;
    line-height: 32px;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    padding:10px 13px;
}
.add-to-card::before{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    background-image: url(../img/hover-icons/basket.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}


.î™® {
    font-size: 30px;
    font-family: "Pe";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.067;
    position: absolute;
    left: 587.448px;
    top: 1130.828px;
    width: 28px;
    height: 27px;
    z-index: 40;
  }
  


  
  

  